#time {
  margin: 5%;
  text-align: center;
  border: 2px solid black;
  box-shadow: 2px
}
#info {
  position: relative;
  float: right;
  top: -70;
  right: 10;
  background-color: beige;
  padding: 10;
  width: 15;
  height: 15;
  border-radius: 50%;
  border: 1px solid black
}

#info:hover{
  filter: brightness(50%)
}
